@import "../../common-style/util";

coin-info {
	display: block;
	background-color: white;
}

.coin-info-sec {
	position: relative;
	overflow: hidden;

	.content {
		margin-top: 117px;
	}

	.image-box {
		position: absolute;
		bottom: 0;
		width: 100%;
	}
}

#coin-info-1 {
	height: 690px;
}

#coin-info-1-1 {
	display: block;
	margin: auto;
}

#coin-info-1-2 {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}

#coin-info-2 {
	height: 850px;
}

#coin-info-2-1 {
	margin: auto;
	position: relative;
	display: block;
	z-index: 1;
	bottom: -50px;
}

#coin-info-2-2 {
	@include stick-bottom-center();
	max-width: 100%;
}

#coin-info-3 {
	height: 800px;
}

#coin-info-3-1 {
	position: relative;
	z-index: 1;
	display: block;
	margin: auto;
}

#coin-info-3-2 {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

#coin-info-3 .image-box {
	margin-bottom: 43px;
}

#coin-info-4 {
	height: auto;
	.content {
		margin: 120px auto;
	}
}

@media (min-width: $screen-md-min) {
	#coin-info-3-1 {
		max-width: 720px;
	}

	#coin-info-3-2 {
		width: 100%;
		min-width: 1320px;
	}
}

@media (max-width: $screen-sm-max) {
	#coin-info-3-1 {
		width: 100%;
		max-width: 560px;
	}

	#coin-info-3-2 {
		max-width: 1320px;
	}
}
