brands {
	display: block;
}

.brand-intro {
	padding: 1px;
	background-color: #f0f0f0;
}

.brand-intro .content {
	margin-bottom: 40px;
}

.brand-list {
	margin: 0;
	background-color: white;
	padding: 6px;
	box-shadow: 0 4px 10px #ddd;
}

.brand-logo {
	padding: 3px;
}

.brand-intro .section-title {
	margin-bottom: 40px
}
