
.brand-intro {
    padding: 1px;
    background-color: #f7f7f7;
}

.brand-intro .content {
    margin-bottom: 40px;
}

.brand-list {
    margin: 0;
    background-color: white;
    padding: 6px;
    box-shadow: 0 4px 6px #ddd;
}

.brand-logo {
    padding: 3px;
}

.brand-intro .section-title {
    margin-bottom: 40px
}
