$font-family: 'Microsoft YaHei Light', sans-serif;
$page-background-color: #f0f0f0;
$default-font-color: #2a2c35;
$link-hover-color: #ee8dd7;

html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 1rem;
	user-select: none;
	color: $default-font-color;
	background-color: $page-background-color;
	font-family: $font-family;
}

a {
	transition: all .15s ease-in;
	&:hover {
		color: $link-hover-color;
	}
}
