$font-family: 'Microsoft YaHei', sans-serif;
$page-background-color: #e9e4e9;
$default-font-color: #2a2c35;
$text-selection-color: #e89edd;

html {
    overflow: hidden;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    user-select: none;
    color: $default-font-color;
    background-color: $page-background-color;
    font-family: $font-family;
}

.full-fill {
    width: 100%;
    height: 100%;
}

.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

::selection {
    background: $text-selection-color;
}

.full-height {
    height: 100%;
}

a {
    transition: all .15s ease-in;
    &:hover {
        color: #ee8dd7;
    }
}
