/* ============================================================
 * webkit scrollBar style
 * ============================================================ */

@mixin simple-scrollbar-thumb-1($color) {
    background: hsla(hue($color), 75%, 53%, 0.5);

    &:hover {
        background: hsla(hue($color), 75%, 53%, 0.80);
    }

    &:active {
        background: hsla(hue($color), 65%, 53%, 0.80);
    }

    &:window-inactive {
        background-color: transparent;
    }
}

@mixin simple-scrollbar-track-1($radius) {
    border-radius: $radius;
    background-color: rgba(0, 0, 0, 0.08);

    &:hover {
        background-color: rgba(0, 0, 0, 0.12);
    }

    &:active {
        background-color: rgba(0, 0, 0, 0.12);
    }

    &:window-inactive {
        background-color: transparent;
    }
}

@mixin simple-scrollbar-1($v-size:8px, $h-size:8px, $radius: 10px, $color:#3c82be) {
    ::-webkit-scrollbar {
        background-color: #fff;
        border-radius: $radius;
        &:vertical {
            width: $v-size;
        }

        &:horizontal {
            height: $h-size;
        }
    }
    ::-webkit-scrollbar-thumb {
        border-radius: $radius;

        &:vertical {
            @include simple-scrollbar-thumb-1($color);
        }

        &:horizontal {
            @include simple-scrollbar-thumb-1($color);
        }
    }
    ::-webkit-scrollbar-track {
        @include simple-scrollbar-track-1($radius);
    }
    ::-webkit-scrollbar-corner {
        background: transparent;
    }
}

@include simple-scrollbar-1(10px, 10px, 0, #e69dd8);
