@import "prod-list";

prod-card {
	display: block;
	margin-bottom: 30px;
}

prod-card .thumbnail {
	border: none;
	border-radius: 5px;
	overflow: hidden;
	padding: 0;
	margin-bottom: 0;

	.afkl-lazy-wrapper {
		width: 100%;
		min-height: 50%;
	}
}

prod-card .thumbnail .prod-thumbnail {
	margin: 0;
	width: 100%;
}

prod-card .thumbnail .caption {
	padding: 20px;
}

.caption .vote {
	cursor: pointer;
}

.caption .voted {
	color: red;
	cursor: auto;
}

prod-card .prod-name {
	display: inline-block;
	height: $headings-line-height*2em;
	font-weight: bold;
}

prod-card .prod-intro {
	display: inline-block;
	height: $line-height-base*10em;
	overflow: hidden;
	position: relative;
	/*&:after {
		content: "";
		text-align: right;
		position: absolute;
		bottom: 0;
		right: 0;
		width: 70%;
		height: $line-height-base*1em;
		background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
	}*/
}

@import "prod-card-wide";
