@import "prod-list";

prod-card {
	display: block;
	margin-bottom: 30px;
}

prod-card .thumbnail {
	border: none;
	border-radius: 5px;
	overflow: hidden;
	padding: 0;
	margin-bottom: 0;

	.afkl-lazy-wrapper {
		width: 100%;
		min-height: 50%;
	}
}

prod-card .thumbnail .prod-thumbnail {
	margin: 0;
	width: 100%;
}

prod-card .thumbnail .caption {
	padding: 20px;
}

.caption .vote {
	cursor: pointer;
}

.caption .voted {
	color: red;
	cursor: auto;
}

@import "prod-card-wide";
