@import "../../common-style/util";

prod-card.wide .thumbnail {
	border: none;
	border-radius: 2px;
	overflow: hidden;
	padding: 9px 9px 0;
	margin-bottom: 0;
}

prod-card.wide .thumbnail .caption {
	margin: 27px 5px;
	padding: 0;
	position: relative;
}

prod-card.wide .caption .prod-intro {
	margin-bottom: 0;
	margin-right: 5em;
}

prod-card.wide .caption .corner {
	position: absolute;
	bottom: 0;
	right: 0;
}

prod-card.wide .prod-name {
	height: $headings-line-height*2em;
}

prod-card.wide .prod-intro {
	height: $line-height-base*4em;
}
