mf-home {
	display: block;
}

.img-responsive {
	width: 100%;
}

.section-hr {
	margin: 0;
}

.section-title {
	text-align: center;
	margin: 40px 0 30px;
}

.cn-title {
	font-weight: bold;
}

.eng-title {
	margin-top: 0;
}
