@charset "UTF-8";
@import "~jquery.scrollbar/jquery.scrollbar.css";
//@import "~angular-lazy-image/release/lazy-image-style.css";
@import "common-style/common";

app {
	display: block;
}

.scrollbar-dynamic {
	max-height: 100%;
	overflow: auto;
}

.main-ui-view {
	margin-top: 0;
	display: block;
	@media screen and (max-width: $screen-sm-max) {
		&.nav-no-collapsed {
			margin-top: 90px;
		}
	}
}
