<section ng-controller="AimController">
  <div class="page-header">
    <h1>宗旨管理</h1>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <table class="table">
        <thead>
        <tr>
          <th>标题</th>
          <th>简介</th>
          <th>图片</th>
          <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td><input type="text" class="form-control" ng-model="newAim.title"></td>
          <td><input type="text" class="form-control" ng-model="newAim.intro"></td>
          <td><input type="file" class="form-control" nv-file-select uploader="createUploader"></td>
          <td><a href="javascript:void(0)" ng-click="createNewAim()">创建</a></td>
        </tr>
        <tr ng-repeat="aim in aims">
          <td>
            <input class="form-control" ng-show="updatedAim._id==aim._id" type="text"
                   ng-model="updatedAim.title">

            <div ng-hide="updatedAim._id==aim._id">{{ aim.title }}</div>
          </td>
          <td>
            <input class="form-control" ng-show="updatedAim._id==aim._id" type="text"
                   ng-model="updatedAim.intro">

            <div ng-hide="updatedAim._id==aim._id">{{ aim.intro }}</div>
          </td>
          <td>
            <input class="form-control" ng-show="updatedAim._id==aim._id" type="file" nv-file-select uploader="updateUploader">

            <div ng-hide="updatedAim._id==aim._id">
              <img class="thumbnail" ng-src="{{ aim.imgUrl }}" style="height: 30px;width: 60px">
            </div>
          </td>
          <td>
            <a href="javascript:void(0)" ng-click="updateAim(aim)">
              <span ng-show="updatedAim._id==aim._id">保存</span>
              <span ng-hide="updatedAim._id==aim._id">更新</span>
            </a>
            &emsp;
            <a href="javascript:void(0)" ng-click="deleteAim(aim)">刪除</a>
          </td>

        </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
