.prod-card .thumbnail {
    border: none;
    border-radius: 5px;
    overflow: hidden;
    padding: 0;
    margin-bottom: 0;
}

.prod-card .thumbnail .prod-thumbnail {
    margin: 0;
    width: 100%;
}

.prod-card .thumbnail .caption {
    padding: 20px;
}
