<section ng-controller="BannerController">
  <div class="page-header">
    <h1>Banner Manage</h1>
  </div>
  <div class="row">
    <nav class="col-sm-3 col-md-3">
      <ul class="nav nav-pills nav-stacked">
        <li ui-sref-active="active">
          <a ui-sref="banner.home">主页</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="banner.hot">爆品页</a>
        </li>
        <li ui-sref-active="active" ng-show="user.provider === 'local'">
          <a ui-sref="banner.new">新品页</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="banner.activity">活动页</a>
        </li>
      </ul>
    </nav>
    <div class="col-sm-9 col-md-8 settings-view">
      <div ui-view></div>
    </div>
  </div>
</section>
