<section class="row">
  <div class="col-xs-12">
    <table class="table">
      <thead>
      <tr>
        <th>图片地址</th>
        <th>链接</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><input type="file" class="form-control" nv-file-select uploader="createUploader"></td>
        <td><input type="text" class="form-control" ng-model="newBanner.link"></td>
        <td><a href="javascript:void(0)" ng-click="createNewBanner('activity')">创建</a></td>
      </tr>
      <tr ng-repeat="banner in banners.activity">
        <td>
          <input class="form-control" ng-show="updatedBanner._id==banner._id" type="file" nv-file-select
                 uploader="updateUploader">

          <div ng-hide="updatedBanner._id==banner._id">
            <img class="thumbnail" ng-src="{{ banner.imgUrl }}" style="height: 30px;width: 60px">
          </div>
        </td>
        <td>
          <input class="form-control" ng-show="updatedBanner._id==banner._id" type="text" ng-model="updatedBanner.link">

          <div ng-hide="updatedBanner._id==banner._id">{{ banner.link }}</div>
        </td>
        <td>
          <a href="javascript:void(0)" ng-click="updateBanner(banner)">
            <span ng-show="updatedBanner._id==banner._id">保存</span>
            <span ng-hide="updatedBanner._id==banner._id">更新</span>
          </a>
          &emsp;
          <a href="javascript:void(0)" ng-click="deleteBanner(banner)">刪除</a>
        </td>

      </tr>
      </tbody>
    </table>
  </div>
</section>
