@import "../../common-style/util";

aim {
	display: block;
}

.aim-sec {
	position: relative;
	overflow: hidden;
	&:nth-child(even) {
		background-color: white;
	}

	.content .index {
		color: #ae8fff;
	}
}

@media (min-width: $screen-md-min) {
	.aim-sec {
		height: 690px;
	}

	#aim-1 .container {
		padding: 128px 0;
	}

	#aim-1, #aim-2 {
		.content {
			margin-top: 80px;
		}

		width: 100%;
		max-width: 100%;
	}

	#aim-2 .container {
		padding: 58px 0;
	}

	#aim-2 .content {
		float: right;
	}

	#aim-3 .container {
		padding: 200px 0;
	}

	#aim-3 {
		.content {
			position: relative;
			z-index: 5;
		}
		.image-box {
			position: absolute;
			bottom: 0;
			right: 20%;
		}
	}

	#aim-3-1 {
		position: relative;
		bottom: -75px;
		z-index: 1;
	}

	#aim-3-2 {
		position: absolute;
		bottom: 54px;
		left: 50%;
		transform: translateX(-50%);
	}

	#aim-4 .content {
		position: relative;
		margin-top: 240px;
		z-index: 5;
		width: 50em;
		margin-left: auto;
		margin-right: auto;
		.title {
			text-align: center;
		}
	}

	#aim-4-1 {
		@include stick-bottom-center();
	}

	#aim-5 {
		padding-top: 1px;
	}

	#aim-5 .content {
		position: relative;
		margin-top: 300px;
		z-index: 5;
		text-align: center;
	}

	#aim-5-1 {
		@include stick-top-center(136px);
	}
}

@media (min-width: $screen-lg-min) {
	#aim-3 .image-box {
		right: 25%;
	}
}


@media (max-width: $screen-sm-max) {
	.aim-sec {
		.content {
			text-align: center;
			margin-top: 6em;
		}
	}

	#aim-1-1, #aim-2-1 {
		margin: 6em auto;
		display: block;
		width: 100%;
		max-width: 600px;
	}

	#aim-3 .image-box {
		position: relative;
		margin: 6em auto;
	}

	#aim-3-1 {
		display: block;
		margin: auto;
		position: relative;
		z-index: 1;
		width: 40%;
	}

	#aim-3-2 {
		position: absolute;
		top: -50px;
		width: 100%;
	}

	#aim-4 {
		.content {
			position: absolute;
			left: 0;
			right: 0;
			margin-left: auto;
			margin-right: auto;
			width: 60%;
			top: 4em;
		}

		.image-box {
			margin-top: 8em;
		}
	}

	#aim-4-1 {
		width: 120%;
		max-width: 800px;
		display: block;
		margin: auto;
	}

	#aim-5 .content {
		padding: 20% 0 24%;
		margin: 42px auto;
		background-image: url('./img/组-20.png');
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
	}

	#aim-5-1 {
		display: none;
	}
}
