<section class="navbar"
         ng-class="{'navbar-fixed-top': !$ctrl.collapsed}">
	<div class="navbar-content">
		<div class="container">
			<div class="navbar-header">
				<div id="ckepop" class="share-links">
					<!-- JiaThis Button BEGIN -->

					<a class="jiathis_button_weixin share-icon clearfix"
					   ng-hide-by-class=".jtico"><img class="share-icon"
					                                  src="./微信.png"
					                                  alt="weixin"></a>
					<a class="jiathis_button_tsina share-icon clearfix"
					   ng-hide-by-class=".jtico"><img class="share-icon"
					                                  src="./微博.png"
					                                  alt="weibo"></a>
					<script type="text/javascript"
					        src="http://v3.jiathis.com/code/jia.js?uid=1"
					        charset="utf-8"></script>
					<!-- JiaThis Button END -->
				</div>

				<img class="logo" src="./logo.png" alt="mfh">

				<div class="user-links" ng-hide="$ctrl.userInfo">
					<a href=""
					   ng-click="$ctrl.entranceModal.open('login')">登录</a> |
					<a href=""
					   ng-click="$ctrl.entranceModal.open('register')">注册</a>
				</div>

				<div class="user-info hidden-sm hidden-xs" ng-show="$ctrl.userInfo">
					<span class="coin-count">魔币：{{$ctrl.userInfo.coin}}个</span>
					<span class="user-alias">{{$ctrl.userInfo.nickname}}</span>
				</div>

				<button
					class="hamburger hamburger--slider pull-right hidden-md hidden-lg"
					type="button"
					ng-class="{'is-active': !$ctrl.collapsed}"
					ng-click="$ctrl.collapsed = !$ctrl.collapsed">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
				</button>

				<a class="btn-user pull-right hidden-md hidden-lg"
				   ng-click="$ctrl.entranceModal.open('login')"></a>
			</div>
		</div>
	</div>
	<hr class="section-hr hidden-xs hidden-sm">
	<nav class="navbar-collapse" uib-collapse="$ctrl.collapsed">
		<div class="nav-content container">
			<ul class="navbar-nav-list list-inline"
			    ng-click="$ctrl.collapsed = true">
				<li class="nav-item" ui-sref-active="active"
				    ng-repeat="(key, val) in $ctrl.navList track by key">
					<a ui-sref="{{::key}}">{{::val}}</a>
				</li>
			</ul>
		</div>
	</nav>
</section>
