

.header {
    box-shadow: 0 0 10px #696969;
    z-index: 10;
    position: relative;
}

.top-header {
    margin-top: 60px;
    margin-bottom: 40px;
    width: 100%;
    display: inline-block;
    text-align: center;
    line-height: 61px;
    font-size: 0;
    clear: both;
}

.user-links {
    font-size: 1rem;
}

.nav-container {
    padding: 1em 0;
}

.content.container {
    padding-bottom: 0;
}

.nav-list {
    margin-left: 0;
    margin-bottom: 0;
    display: table;
    width: 100%;
}

.nav-list .nav-item {
    display: table-cell;
    text-align: center;
    position: relative;
}

.nav-item:not(:first-child):before {
    content: '';
    display: block;
    position: absolute;
    width: 3px;
    height: 3px;
    left: 0;
    top: 50%;
    background-color: grey;
    transform: translate(-50%, -50%);
}


@media screen and (max-width: 1400px) {

}



@media screen and  (max-width: 1080px) {
    .share-links {
        display: none
    }

    .logo {
        float: left;
    }
}

