@import "../../common-style/util";
@import "hamburger-menu";

app-nav {
	display: block;
}

.navbar {
	z-index: 10;
	position: relative;
	border: 0;
	margin-bottom: 0;
	background-color: white;
}

.navbar-header {
	width: 100%;
	display: inline-block;
	font-size: 0;
	clear: both;
	position: relative;
}

.share-links {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.share-links .share-icon {
	display: block;
	height: auto;
	position: relative;
	float: left;
}

.share-links .share-icon:nth-child(n+2) {
	margin-left: 10px;
}

.user-links, .user-info {
	font-size: 2rem;
	position: absolute;
	top: 0;
	right: 0;
}

.user-info.has-info {
	line-height: 30px;
	text-align: right;
}

.user-alias {
	color: lightblue;
}

.coin-count {
	color: gold;
}

.navbar > .content {
	padding-bottom: 0;
}

.navbar-nav-list {

	.nav-item a {
		color: black;
		font-size: 1.2em;
	}

	.nav-item.active a {
		color: #ad8fff;
	}
}

#ckepop .share-icon .jtico {

	height: 21px!important;
	padding: 0!important;
	background-image: none;
}

// 大屏导航样式
@media (min-width: $screen-md-min) {
	.navbar-header {
		margin-top: 60px;
		margin-bottom: 40px;
		line-height: 60px;
		text-align: center;
	}

	.logo {
		height: 40px;
	}

	.navbar-collapse.collapse {
		padding: 1em 0;
	}

	.navbar-nav-list {
		margin-left: 0;
		margin-bottom: 0;
		display: table;
		width: 100%;
	}

	.navbar-nav-list .nav-item {
		display: table-cell;
		text-align: center;
		position: relative;
		&:not(:first-child):before {
			content: '';
			display: block;
			position: absolute;
			width: 3px;
			height: 3px;
			left: 0;
			top: 50%;
			background-color: grey;
			transform: translate(-50%, -50%);
		}
	}
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
	.nav-content {
		padding: 0 30px;
	}
}

// 小屏导航样式
@media screen and (max-width: $screen-sm-max) {
	.navbar-fixed-top {
		height: 100vh;
		top: 0;
		background-color: transparentize(black, 0.5);
		width: 100%;
		z-index: 500;
		position: fixed;
	}

	.navbar-content {
		background-color: white;
		.container {
			width: auto;
			margin: 0 15px;
		}
	}

	.container > .navbar-header {
		line-height: 44px;
		margin: 15px 0;
	}

	.share-links, .user-links {
		display: none
	}

	.logo {
		height: 34px;
	}

	.navbar-header {
		.hamburger {
			line-height: 1em;
			vertical-align: middle;
			padding: 10px 0 10px 15px;
		}
		.btn-user {
			display: inline-block;
			height: 44px;
			width: 40px;
			background-image: url("./user.png");
			background-repeat: no-repeat;
			background-size: contain;
			margin-left: 15px;
			cursor: pointer;
		}
	}

	.navbar-collapse {
		background-color: white;
		border: 0;
	}

	.navbar-collapse.collapse {
		display: none !important;
		overflow: auto !important;
	}

	.collapse.in {
		display: block !important;
	}

	.navbar-nav-list {
		display: block;

		.nav-item {
			display: block;
			width: 100%;
			padding: 15px;

			&:not(:last-child) {
				border-bottom: 1px solid #ccc;
			}
		}
	}

	.nav-item a {
		display: block;
		width: 100%;
	}
}

@media screen and (max-width: $screen-sm-max) and (max-height: 440px) {
	.navbar-collapse.collapse {
		height: calc(100vh - 74px) !important;
	}
}

