<section class="header">
    <div class="content container">
        <div class="top-header">
            <div class="share-links pull-left">
                <img src="//placeholder.cn/21x21/255/6e9" alt="weixin">
                <img src="//placeholder.cn/21x21/255/6e9" alt="weibo">
            </div>
            <img class="logo" src="//placeholder.cn/283x61/255/6e9" alt="mfh">

            <div class="user-links pull-right">
                <a href="/login">登录</a> | <a href="/register">注册</a>
            </div>
        </div>
    </div>
    <hr class="section-hr">
    <nav class="nav-container">
        <div class="content container">
            <ul class="nav-list list-inline">
                <li class="nav-item">hello world</li>
                <li class="nav-item">hello world</li>
                <li class="nav-item">hello world</li>
                <li class="nav-item">hello world</li>
                <li class="nav-item">hello world</li>
                <li class="nav-item">hello world</li>
                <li class="nav-item">hello world</li>
                <li class="nav-item" style="color:#ff6dee">hello world</li>
            </ul>
        </div>
    </nav>
</section>
