@import "../../common-style/util";

consult {
	display: block;


	prod-card.wide .prod-name {
		height: $headings-line-height*1em;
	}

	prod-card.wide .prod-intro {
		height: $line-height-base*1em;
	}
}

.caption .discount .count {
	font-size: 2em;
	color: red;
	font-weight: bold;
	padding-right: 5px;
}
