@import "../../common-style/util";

app-info {
	display: block;
	background-color: white;
}

.app-info-sec {
	width: 100%;
	position: relative;
	overflow: hidden;
	border-bottom: 1px solid #f0f0f0;
}

#app-info-1 {
	background-image: url("./img/1.背景.png");
	background-position: center;
}

#app-info-2-1 {
	@include stick-bottom-center();
	z-index: 1;
}

#app-info-2-2 {
	position: absolute;
	bottom: 0;
	transform: translateX(-50%);
	left: 50%;
	width: 100%;
	min-width: 800px;
}

#app-info-3 {
	background-image: url("./img/3.背景.png");
	background-repeat: no-repeat;
	background-position: center 80%;
}

#title4 {
	top: 156px;
	width: 100%;
	text-align: center;
	z-index: 2;
}

#app-info-4-1,
#app-info-4-2 {
	@include stick-bottom-center();
}

#app-info-4-1 {
	z-index: 1;
}

#app-info-4-2 {
	max-width: 100%;
}

#title5 {
	top: 127px;
	width: 100%;
	text-align: center;
	z-index: 2;
}

#app-info-5-1, #app-info-5-2 {
	@include stick-bottom-center(-135px);
}

#app-info-5-1 {
	z-index: 1;
}

#app-info-6 {
	padding-top: 1px;
}

.download-content {
	text-align: center;
	margin-top: 134px;
}

#title6 {
	position: static;
}

.dl-links {
	margin-top: 20px;

	.btn {
		border: 0;
		background-color: black;
		color: white;
		&:hover,
		&:active,
		&.active {
			background-color: #ad8fff;
		}
		&:active,
		&.active {
			background-image: none;
		}

		.glyphicon {
			top: 3px;
		}
	}

	.btn:nth-child(n+2) {
		margin-left: 20px;
	}
}

#app-qr-code {
	@include stick-top-center(260px);
	z-index: 10
}

.dl-qrcode {
	opacity: 1;
	&.ng-hide-add,
	&.ng-hide-remove {
		transition: 0.5s ease-in-out all;

	}

	&.ng-hide-add {
		opacity: 0;
		animation: 0.5s zoomOut;
	}

	&.ng-hide-remove {
		animation: 0.5s fadeInDown;
	}
}

#app-info-6-1 {
	@include stick-bottom-center();
	max-width: 100%;
}

@media (min-width: $screen-md-min) {
	app-info h1,
	app-info img {
		position: absolute;
	}

	.app-info-sec {
		height: 800px;
	}

	#title1 {
		text-align: center;
		top: 116px;
		width: 100%;
		z-index: 1;
	}

	#title2 {
		text-align: center;
		top: 166px;
		width: 100%;
	}

	#title3 {
		top: 356px;
		right: 435px;
		z-index: 3;
	}

	#app-info-3-1 {
		position: absolute;
		top: 225px;
		left: 20%;
		z-index: 2;
	}

	#app-info-4-1,
	#app-info-4-2 {
		max-height: 500px;
	}

	#app-info-6-1 {
		bottom: -165px;
	}
}

@media (max-width: $screen-sm-max) {

	app-info h1 {
		margin-top: 120px;
		text-align: center;
	}

	.app-info-sec {
		height: 900px;
	}

	#app-info-1 {
		background-image: url("./img/1.背景.png");
		background-size: cover;
		background-position: center;
	}

	#app-info-3-1 {
		@include stick-top-center(225px);
	}

	#app-info-4-2 {
		bottom: 20%;
	}

	#app-info-5-1 {
		bottom: 0;
	}

	#app-info-5-2 {
		bottom: 5%;
		max-width: 500px;
	}

	#app-info-6-1 {
		bottom: 5%;
		width: 100%;
		max-width: 600px;
	}
}
